<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>

                <binding name="BasicHttpBinding_ITransferService" closeTimeout="04:01:00"
                         openTimeout="04:01:00" receiveTimeout="04:10:00" sendTimeout="04:01:00"
                         allowCookies="false" bypassProxyOnLocal="false"
                         hostNameComparisonMode="StrongWildcard"
                         maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
                         maxReceivedMessageSize="2147483647"
                         messageEncoding="Text" textEncoding="utf-8"
                         transferMode="Streamed"
                         useDefaultWebProxy="true">
                    <readerQuotas maxDepth="128"
                                  maxStringContentLength="2147483647" maxArrayLength="2147483647"
                                  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="None">
                        <transport clientCredentialType="None"
                                   proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>

            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5000/HostDevServer/HelloWorldService.svc"
                      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransferService"
                      contract="IFileTransferService" name="BasicHttpBinding_ITransferService"/>
        </client>
    </system.serviceModel>
</configuration>