<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IStream" transferMode="Streamed" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/streamserver" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IStream" contract="IStream"
                name="NetTcpBinding_IStream">
                <identity>
                    <userPrincipalName value="LAPTOP-E7L21NRV\user" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>